<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user) { %>
            <% if(locals.user.id==comment.user.id || locals.user.id == post.user.id) {%>
                <small>
                    <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">X</a>
                </small>
            <% } %>
        <% } %>
        <%= comment.content%>
        <br>
        <%= comment.user.username%>
    </p>
</li>