<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<h1 class="my-4">
   User Sign In
</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" class="btn btn-primary" value="Sign In">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>