header{
    background-color: gainsboro;
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    h3{
    color: black;
        a:hover{
            text-decoration: none;
        }
    }
    li{
        a:link{
            color: black !important;
        }
    }
}

.navbar-nav{
    font-weight: 500;
    font-size: 1.2rem;
}